button{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* El elemento ahora está por detrás del botón */
    width: 100%;
    height: 100%; 
    /* Usamos un color gradiente lineal de 45 grados, que va a pasar a través de todos los colores que hayamos marcado */
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800px; /* Ajustamos tamaño del fondo */
    border-radius: 10px;
    filter: blur(8px); /* Usamos un filtro de desenfoque */
    animation: glowing 20s linear infinite; /* Animación llamada glowing que dura 20s, es lineal y que se repetirá infinitamente */
}

/* Creamos la animación glowing */
@keyframes glowing {
    0%{ /* Cuando empieza su posición es (0,0) [(x,y)] */
        background-position: 0 0; 
    }

    50%{ /* Cuando está por la mitad es (400,0) */
        background-position: 400% 0;
    }

    100% {/* Cuando termina vuelve a su posición inicial (0,0) */
        background-position: 0 0;
    }

}